h1{
    text-align: center;
    background-color: black;
    color: white;
    font-family: arial;
}

a{
    font-family: arial;
    font-size: 24px;
    color: black;
    text-decoration: none;
    font-weight: bold;
}

body{
    text-align: center;
}

li{
    font-family: arial;
}

h3{
    font-family: arial;
    color: white;
    background-color: black;
}

h4{
    font-family: arial;
 
}
